.site-header {
  display: flex;
  flex-direction: column;
  background-color: $black;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.header__logo-section {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.license-link {
  font-size: 8px;
  text-decoration: none;
  color: $blue-light;
}

.header__logo {
  max-width: 80px;
}

/*----------------------------------------------------
##Navigation
------------------------------------------------------*/

.header__site-nav {
  max-width: 70%;
  width: 100%;
}

.header__nav-wrapper--outer {
  display: flex;
  align-items: center;
  height: 85px;
  width: 100%;
}

.header__nav-wrapper--inner {
  display: flex;
  width: 100%;
}

.header__nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  list-style: none;
}

.header__nav-item {
  max-width: 250px;
  width: 100%;
}

.header__nav-link-item {
  color: $blue-neon;
  text-decoration: none;
  font-size: 20px;
  transition: $dur $ease;

  &:hover {
    color: $gold-light;
  }
}
