@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "./helpers/variables";
@import "./helpers/mixins";
@import "./helpers/helpers";

/*-------------------------------------------------------
##Elements
-------------------------------------------------------*/

@import "./elements/drop-menu";
@import "./elements/rotating-border";

/*-------------------------------------------------------
##Blocks
-------------------------------------------------------*/

@import "./blocks/blocks";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $black-light;
}
