@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "./helpers/variables";
@import "./helpers/mixins";
@import "./helpers/helpers";

@import "./blocks/blocks";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
