/*---------------------------------------------------------
##Basic dependencies
----------------------------------------------------------*/
@import "../../node_modules/bootstrap/scss/bootstrap-grid.scss";

/*---------------------------------------------------------
##Helpers
----------------------------------------------------------*/
@import "./helpers/variables";
@import "./helpers/mixins";
@import "./helpers/helpers";

/*-------------------------------------------------------
##Elements
-------------------------------------------------------*/

@import "./elements/drop-menu";
@import "./elements/hamburger";
@import "./elements/rotating-border";
@import "./elements/button";
/*-------------------------------------------------------
##Blocks
-------------------------------------------------------*/
@import "../templates/blocks/blocks";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  // overflow: hidden;
  // background-color: $blue-light;
}

i {
  margin-left: 3px;
}

.site-main {
  position: relative;
  overflow: hidden;
  max-width: 1920px;
  margin: 0 auto;
  min-height: 100vh;
}

.empty-box {
  display: block;
  width: 500px;
  height: 300px;
  margin: auto;

  @include center;
}

.banner {
  background-image: url("../../assets/images/banner-background-img.jpg");
}
